body {
  background-color:  powderblue;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 5%;
}
h1,h3{
  color: #66BFBF;
}

img:hover{
  border-radius: 20px;
  background-color:gold;

}
img{
  border-radius: 20px;
}
